name: Release
on:
  workflow_dispatch:
jobs:
  Release:
    name: Release
    permissions:
      contents: write
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      
      - name: Install Python
        uses: actions/setup-python@main
      
      - name: Preparing
        run: |
          pip install rich psutil auto-py-to-exe
      
      - name: Build
        run: |
          pyinstaller --noconfirm --onefile --console "CapCrackV2.5(beta).py"

      - name: Release
        uses: ncipollo/release-action@v1.14.0
        with:
          artifacts: |
            dist\CapCrackV2.5(beta).exe
          name: Capcut
          tag: release
          allowUpdates: trues
